#box {
    background-image: url(../images/road.png);
    width: 1000px;
    height: 1000px;
    position: relative;
    overflow: hidden;
}

/* REPAIRED CODE */

@keyframes moveCar {
  0% {
      top: 83px;
      left: 100px;
  }
  15% {
      top: 83px;
      left: 670px;
      transform: rotate(0deg);
  }
  16% {
      top: 89px;
      left: 660px;
      transform: rotate(7deg);

  }
  17% {
      top: 95px;
      left: 660px;
      transform: rotate(13deg);
  }
  22.5% {
      top: 95px;
      left: 790px;
      transform: rotate(85deg);
  }
  25.5% {
      top: 95px;
      left: 830px;
      transform: rotate(93deg);
  }
  32% {
      top: 130px;
      left: 820px;
      transform: rotate(90deg);
  }
  45% {
      top: 700px;
      left: 820px;
      transform: rotate(90deg);
  }
  53% {
      top: 840px;
      left: 832px;
      transform: rotate(180deg);
  }
  69% {
      top: 840px;
      left: 240px;
      transform: rotate(180deg);
  }
  74% {
      top: 770px;
      left: 72px;
      transform: rotate(270deg);
  }
  77% {
      top: 760px;
      left: 82px;
      transform: rotate(270deg);
  }
  95% {
      top: 230px;
      left: 82px;
      transform: rotate(270deg);
  }
  100% {
      top: 83px;
      left: 100px;
      transform: rotate(360deg);
  }
}

#car {
    background-image: url(../images/car.png);
    width: 150px;
    height: 74px;
    position: absolute;
    animation: moveCar 8s linear infinite;
    transform-origin: center;
}

/* REPAIRED CODE BOTTOM */



/* OLD BEFORE CODE WORK BY THIS:

#box {
    background-image: url(../images/road.png);
    width: 1000px;
    height: 1000px;
    position: relative;
    overflow: hidden;
}

@keyframes moveCar {
    0% { 
      offset-distance: 0%;
    }
    100% { 
      offset-distance: 100%;
    }
  }

#car {
    background-image: url(../images/car.png);
    offset-path: path('M125 125H 875V 875H 125Z');
    width: 150px;
    height: 74px;
    position: absolute;
    animation: moveCar 8s linear infinite;
    transform-origin: center;
} 

I USED COORDINATES ALONG PATH  */
